<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="良心卖">

    <div class="bar bar-header  bar-positive">
        <a href="#/tab/buy" class="button button-icon icon ion-ios-arrow-back"></a>
    </div>

  <ion-content class="has-header">
      
      <!-- page wrapper starts -->
		  <!--<div class="pageWrapper singleProjectPageWrapper">-->
		    <!--<div class="singleProjectImageWrapper">-->
                <img src="images/content/small-1-1.jpg" class="singleProjectImage" alt=""/>
            <!--</div>-->
		    <!-- page content wrapper starts -->
		    <div class="pageContentWrapper singleProjectContentWrapper"> 
		      <!-- page title starts -->
		      <h3 class="pageTitle">东山杨梅</h3>
		      <!-- page title ends -->
		      <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
		      <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.</p>

                <!--</div>
                 coments form wrapper ends -->
            </div>
                <div class="textBreakBoth"></div>
		      <h4 class="blockTitle">Project details:</h4>
		      <!-- table starts -->
		      <table>
		        <thead>
		          <tr>
		            <th>Number</th>
		            <th>Technologies</th>
		            <th>Status</th>
		          </tr>
		        </thead>
		        <tbody>
		          <tr>
		            <td>1</td>
		            <td>HTML/CSS</td>
		            <td><span class="singleIconWrapper iconCheckmarkDark"></span></td>
		          </tr>
		          <tr>
		            <td>2</td>
		            <td>PHP</td>
		            <td><span class="singleIconWrapper iconCheckmarkDark"></span></td>
		          </tr>
		          <tr>
		            <td>3</td>
		            <td>JavaScript</td>
		            <td><span class="singleIconWrapper iconCheckmarkDark"></span></td>
		          </tr>
		          <tr>
		            <td>4</td>
		            <td>Photoshop</td>
		            <td><span class="singleIconWrapper iconCheckmarkDark"></span></td>
		          </tr>
		        </tbody>
		      </table>
		      <!-- table ends -->
		      <div class="pageBreak"></div>
                <!-- comments form wrapper starts
		      <div class="commentsFormWrapper">-->
                <h4 class="commentsTitle commentsFormTitle">Leave a Comment:</h4>
                <form action="#" method="post" class="commentsForm" id="commentsForm">
                    <fieldset>
                        <div class="formFieldWrapper">
                            <label for="commentNameField">Name:</label>
                            <input type="text" name="commentNameField" class="commentField commentNameField" id="commentNameField"/>
                        </div>
                        <div class="formFieldWrapper">
                            <label for="commentEmailField">Email:</label>
                            <input type="text" name="commentEmailField" class="commentField commentEmailField" id="commentEmailField"/>
                        </div>
                        <div class="formFieldWrapper">
                            <label for="commentWebsiteField">Website:</label>
                            <input type="text" name="commentWebsiteField" class="commentField commentWebsiteField" id="commentWebsiteField"/>
                        </div>
                        <div class="formTextareaWrapper">
                            <label for="commentCommentTextarea">Comment:</label>
                            <textarea name="commentCommentTextarea" class="commentTextarea commentCommentTextarea" id="commentCommentTextarea"></textarea>
                        </div>
                        <!--<input type="submit" class="buttonWrapper commentSubmitButton" id="commentSubmitButton" value="Submit Comment"/>-->
                        <button class="button button-block button-positive">
                            Submit
                        </button>
                    </fieldset>
                </form>

		    <!-- page content wrapper ends -->
		    <!--<div class="singleProjectItemButtonsWrapper">-->
            <!--    <a href="images/content/large-1.jpg" class="singleProjectExpandButton">expand</a>
                <a href="" class="singleProjectDetailsButton">website</a>
            -->
            <!--</div>-->
		  <!--</div>-->
		  <!-- page wrapper ends --> 
      
  </ion-content>
</ion-view>
