<ion-view view-title="良心卖">
  <ion-content>

      <div class="list">
          <label class="item item-input item-stacked-label">
              <span class="input-label">产品名称</span>
              <input type="text" placeholder="枇杷">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">产品分类</span>
              <input type="text" placeholder="水果？ 蔬菜？">
          </label>
          <label class="item item-input item-stacked-label">
              <span class="input-label">产品单价</span>
              <input type="text" placeholder="20/斤">
          </label>
          <button class="button button-block button-positive">
              Block Button
          </button>
      </div>
  </ion-content>
</ion-view>
